@model project2.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Удалить заказ?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.SenderCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDate)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexNew">К списку заказов</a>
    </form>
</div>
