@model IEnumerable<project2.Models.Order>

@{
    ViewData["Title"] = "IndexNew";
}

<h1>Страница создания заказов</h1>

<p>
    <a asp-action="Create">Создать заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.OrderId)
            </th>
                <th>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </th>

            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
            </td>
        </tr>            
}

    </tbody>
</table>
